PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/seo_simulator
CONCURRENCY_LIMIT=2
CAPTCHA_PROVIDER=none
CAPTCHA_API_KEY=
# Set to true to run Chromium in background (no window)
HEADLESS=false
# Set to true to automatically schedule and run campaigns in background
AUTO_SCHEDULER=false

# Auto rotating proxy API URL (e.g. ViettelProxy get-new-proxy API)
PROXY_ROTATION_API_URL=

